@import url('./colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-sans);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    background-color: var(--primary);
}


.logo {
    width: 80px;
}

.btn {
    text-decoration: none;
    font-weight: bold;
}


.btn-action {
    border: 2px solid var(--white);
    color: var(--white);
    border-radius: 25px;
    padding: 10px 20px;
    transition: .5s all;
}

.btn-action:hover {
    background-color: var(--white);
    color: var(--secondary);
}


.nav-item {
    text-decoration: none;
    color: white;
    transition: .5s all;
    font-size: 18px;
    font-weight: 400;
    padding: 0 5px;
}

.nav-item:hover {
    color: var(--secondary);
}

.mobile-menu, .mobile-menu-icon {
    display: none ; 
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    pointer-events: none; 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.mobile-menu.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-icon {
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--white);
}

.mobile-menu .nav-item {
    display: block; 
    text-align: center; 
    padding: 12px 0; 
}

@media (max-width: 768px) {
    .desktop-menu {
        display: none ; 
    }

    .header #btn-desktop {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    #btn-mobile {
        display: block;
    }

    .header {
        padding: 10px 20px;
    }
}