@import url('./colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-sans);
}

/* Header de navegação */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    background-color: var(--primary);
}


.logo {
    width: 80px;
}

.btn {
    text-decoration: none;
    font-weight: bold;
}


.btn-action {
    border: 2px solid var(--white);
    color: var(--white);
    border-radius: 25px;
    padding: 10px 20px;
    transition: .5s all;
}

.btn-action:hover {
    background-color: var(--white);
    color: var(--secondary);
}


.nav-item {
    text-decoration: none;
    color: white;
    transition: .5s all;
    font-size: 18px;
    font-weight: 400;
    padding: 0 5px;
}

.nav-item:hover {
    color: var(--secondary);
}

.mobile-menu, .mobile-menu-icon {
    display: none ; 
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    pointer-events: none; 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.mobile-menu.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-icon {
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--white);
}

.mobile-menu .nav-item {
    display: block; 
    text-align: center; 
    padding: 12px 0; 
}

/* herosection */

.herosection {
    display: flex;
}

.hero-title {
    display: inline;
    width: 100%;
    font-size: 4.5rem;
    color: var(--black);
}

.hero-header {
    display: inline-block;
    margin-bottom: 20px;
}

.hero-header i {
    font-size: 3rem;
}

.hero-content {
    padding: 0 40px 0 6%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-description {
    font-size: 1rem;
}

.hero-ilustration {
    width: 55%;
}

.hero-actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0;
}
.hero-subtitle {
    display: block;
}

.btn-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 16px;
}

.hero-arrow {
    display: block;
}

.hero-image {
    width: 100%;
    height: auto;
}



@media (max-width: 768px) {
    .desktop-menu {
        display: none ; 
    }

    .header #btn-desktop {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    #btn-mobile {
        display: block;
    }

    .header {
        padding: 10px 20px;
    }
}